.form {
  width: 400px;
  border: 1px solid 2a363b;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.input {
  margin: 5px 0 10px 0;
    padding: 0 10px;
      line-height: 30px;
      border: 1px solid #606dbc;
      border-radius: 5px;
}
.label {
  display: flex;
  flex-direction: column;
    color: #606dbc;
  text-transform: uppercase;
  font-size: 12px;
}
.button {
  /* width: 100px; */
  margin: 0 auto 0 auto;
}
