.filter {
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.input {
  margin: 5px 0 10px 0;
  padding: 0 10px;
  line-height: 30px;
  border: 1px solid #4484c0;
  border-radius: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  color: #4484c0;
  text-transform: uppercase;
  font-size: 12px;
}